.find_out_more_wrapper{
    font-family: 'Red Hat Display';
    padding: 5rem 2rem;
    max-width: 500px;
    margin: 0 auto;
}

.right_area_fom{
    display: none;
}

.left_area_fom h1{
    font-size: 1.5rem;
    color: #45B5C9;
    font-weight: 700;
    margin-bottom: 3rem;
}

.left_area_fom h2{
    font-size: 4.5rem;
    color: #333545;
    font-weight: 700;
    margin-bottom: 3rem;
}

.left_text_fom, .statistics_txt{
    font-size: 1.5rem;
    color: #818498;
    font-weight: 400;
    line-height: 32px;
}

.statistics_txt{
    font-size: 1.4rem;
}

.statistics{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.statistics_number{
    font-size: 3rem;
    font-weight: 700;
    color: #333545;
}

.more_information_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 252px;
    height: 72px;
    background: #DDF2F5;
    border-radius: 12px;
    cursor: pointer;
    transition: .2s;
}

.more_information_btn:hover{
    background-color: #cbf8ff;
}

.more_information_btn p{
    font-size: 1.6rem;
    color: #45B5C9;
    font-weight: 700;
}

.year{
    margin: 0 1rem;
}

@media all and (min-width: 375px){
    .left_text_fom, .statistics_txt{
        font-size: 1.6rem;
    }

    .statistics_txt{
        font-size: 1.5rem;
    }
}

@media all and (min-width: 500px){
    .left_area_fom h2{
        font-size: 5.4rem;
    }
}

@media all and (min-width: 1024px){
    .find_out_more_wrapper{
        max-width: 1300px;
        display: flex;
    }

    .left_area_fom{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .statistics{
        max-width: 70%;
    }

    .left_area_fom h1{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .left_area_fom h2{
        font-size: 4rem;
        max-width: 500px;
        margin-bottom: 1.5rem;
    }

    .left_text_fom{
        font-size: 1rem;
        max-width: 350px;
    }
    
    .statistics_txt{
        font-size: 1rem;
    }

    .statistics_number{
        font-size: 2rem;
    }

    .more_information_btn p{
        font-size: 1rem;
    }

    .right_area_fom{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }

    .first_column{
        max-width: 184px;
    }

    .first_column img{
        margin: 0 0 5rem auto;
    }

    .second_column{
        max-width: 200px;
        margin: 0 .5rem;
    }

    .third_column{
        max-width: 184px;
        margin-bottom: 17rem;
    }

    .third_column img{
        margin-right: auto;
    }

    .first_column, .second_column, .third_column{
        display: flex;
        flex-direction: column;
    }

    .first_column img:nth-child(1), .second_column img:nth-child(1), .third_column img:nth-child(1){
        margin-bottom: .5rem;
    }

    .right_area_fom img{
        align-self: center;
    }
}

@media all and (min-width: 1200px){
    .second_column{
        margin: 0 1.5rem;
    }

    .first_column img:nth-child(1), .second_column img:nth-child(1), .third_column img:nth-child(1){
        margin-bottom: 1.5rem;
    }

    .left_text_fom{
        max-width: 500px;
    }
}