.footer_wrapper{
    background: #1F242B;
}

.bottom_menu{
    display: none;
}

.footer_top_area, .footer_bottom_area{
    transform: translate(0, -25%);
}

.footer_top_area{
    background-color: #191D23;
    border-radius: 24px;
    padding: 4.5rem 2rem;
    width: 90vw;
    margin: 0 auto;
}

.fta_text p:nth-child(1){
    font-size: 15px;
    color: #45B5C9;
    font-weight: 700;
    text-align: center;
}

.fta_text p:nth-child(2){
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    max-width: 300px;
    margin: 20px auto 0 auto;
}

.fta_email_area form {
    display: flex;
    flex-direction: column;
}

.fta_email_area form input {
    font-size: 15px;
    color: #fff;
    padding: 16px;
    border-radius: 14px;
    background-color: #1F242B;
    border: none;
    outline: none;
    width: 95%;
    max-width: 400px;
    margin: 4.8rem auto 0 auto;
}

.subscribe_btn{
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    background-color: #45B5C9;
    padding: 16px 32px;
    max-width: 144px;
    margin: 0 auto;
    border-radius: 12px;
    border: none;
    outline: none;
    margin-top: 32px;
    cursor: pointer;
}

.social_media{
    margin: 0 0 50px 0;
    text-align: center;
}

.social_media a{
    padding: 0 10px;
}

.footer_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 330px;
    margin: 0 auto;
}

.footer_text p{
    font-size: 16px;
    font-weight: 500;
    color: #818498;
    margin: 0 13px;
}

.footer_text p:nth-child(1){
    margin-bottom: 20px;
}

@media all and (min-width: 1024px){
    .footer_top_area{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .fta_email_area form{
        flex-direction: row;
        align-self: center;
    }

    .fta_email_area form input {
        padding: 30px;
        width: 30vw;
        max-width: 450px;
        border-radius: 18px;
        margin: 0 0 0 1rem;
    }

    .subscribe_btn{
        height: 80px;
        border-radius: 18px;
        margin: 0 0 0 1rem;
    }

    .fta_text p:nth-child(1){
        text-align: left;
    }
    
    .fta_text p:nth-child(2){
        text-align: left;
        max-width: 450px;
        line-height: 1.5;
    }

    .bottom_menu{
        display: block;
    }

    .menu_links{
        display: flex;
    }

    .menu_links li a{
        font-size: 16px;
        font-weight: 500;
        color: #818498;
        padding: 1rem 2rem;
    }

    .menu_links li a a{
        padding: 0;
    }

    .menu_links li a:hover{
        color: #45B5C9;
    }

    .social_media a{
        padding: 0 1rem;
    }

    .bottom_menu_and_social_media{
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        padding: 3rem 2rem 0 2rem;
    }

    .footer_text{
        justify-content: center;
        max-width: none;
        padding-top: 3rem;
        box-shadow: 0px -2px 0px #2E323B;
        width: 95%;
        max-width: 1440px;
    }
}