/* HOTEL SERVICES */

.photo_cleaner{
    display: none;
}

.hotel_services{
    text-align: center;
}

.hs_heading, .hs_top_area{
    max-width: 1440px;
    margin: 0 auto;
}

.hs_heading{
    padding: 3rem 2rem 6rem 2rem;
}

.hs_heading h1{
    font-size: 1.5rem;
    color: #45B5C9;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hs_heading h2{
    font-size: 3.6rem;
    color: #333545;
}

.hs_top_area{
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.adventages_team div{
    display: flex;
}

.hs_right_side h2{
    font-size: 2.5rem;
    color: #333545;
    margin-bottom: 5rem;
}

.adventages_team div p{
    font-size: 1.6rem;
    color: #333545;
    margin-bottom: 5rem;
    text-align: left;
}

.adventages_team div img{
    max-height: 24px;
    margin: 0 1rem;
}

@media all and (min-width: 1024px){
    .photo_cleaner{
        display: block;
        max-width: 600px;
        width: 50vw;
        border-radius: 14px;
    }

    .hs_top_area{
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    .hs_heading h1{
        font-size: 1rem;
    }

    .hs_heading h2{
        font-size: 4rem;
        margin-bottom: 5rem;
    }

    .hotel_services_wrapper{
        padding: 5rem 2rem 2rem 2rem;
    }

    .hs_right_side{
        position: relative;
        width: 100%;
        padding-left: 2rem;
    }

    .adventages_team{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .adventages_team div p{
        text-align: left;
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }

    .hs_right_side h2{
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

}

/* OUR SERVICE */

.service_desktop{
    display: none;
}

.our_services{
    background-color: #F7F8FB;
    padding: 4rem 0;
}

.our_services h2{
    font-size: 2.5rem;
    color: #333545;
    margin-bottom: 4rem;
}

.service_mobile{
    display: flex;
}

.service_mobile, .service_desktop{
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 424px;
    max-height: 624px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #E1E8F2;
    padding: 2.5rem 0;
}

.os_icon{
    margin-bottom: 2rem;
}

.os_title{
    font-size: 2rem;
    font-weight: 700;
    color: #333545;
    margin-bottom: 1rem;
}

.os_text_1, .points p{
    font-size: 1.6rem;
    color: #A3A7BF;
}

.os_text_1{
    margin-bottom: 3rem;
    max-width: 300px;
    line-height: 1.7;
}

.points p{
    text-align: left;
    padding-bottom: 1rem;
}

.one_point{
    display: flex;
}

.one_point img {
    align-self: center;
    padding-right: 2rem;
}

.os_left_arrow svg, .os_right_arrow svg{
    color: #1F242B;
    min-width: 25px;
    min-height: 25px;
}

.os_left_arrow_active svg, .os_right_arrow_active svg{
    color: #818498;
}

.os_left_arrow, .os_right_arrow{
    padding: 80% 0.5rem;
}

@media all and (min-width: 370px){
    .os_left_arrow, .os_right_arrow{
        padding: 80% 1rem;
    }
}

@media all and (min-width: 1024px){
    .service_mobile {
        display: none;
    }

    .our_services_wrapper{
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    }

    .service_desktop{
        display: flex;
        justify-content: center;
    }

    .service_desktop:nth-of-type(1), .service_desktop:nth-of-type(3), .service_desktop:nth-of-type(4){
        margin-bottom: 3.5rem;
    }

    .service_desktop:nth-of-type(1){
        background-color: #1F242B;
    }

    .os_left_arrow, .os_right_arrow, .os_left_arrow_active, .os_right_arrow_active{
        display: none;
    }

    .our_services h2{
        font-size: 3.25rem;
    }

    .os_title{
        font-size: 1.4rem;
    }

    .our_services_wrapper .service_desktop:nth-of-type(1)  .os_title{
        color: #fff;
    }

    .os_text_1, .points p{
        font-size: 1rem;
    }
}

@media all and (min-width: 1400px){
    .our_services_wrapper{
        max-width: 1440px;
    }
}


/* OUR TEAM */

.employee_img{
    display: none;
}

.our_team{
    background-color: #fff;
    padding-bottom: 15rem;
}

.our_team_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

.ot_main_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ot_top_section h2{
    font-size: 2.7rem;
    color: #333545;
    max-width: 350px;
    margin: 0 auto 4.5rem auto;
}

.ot_name {
    font-size: 2.2rem;
    font-weight: 500;
    color: #333545;
    margin-bottom: 1rem;
}

.profession{
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #45B5C9;
    margin-bottom: 2.5rem;
}

.ot_left_area_txt_1, .ot_left_area_txt_2, .experience p, .year_of_creation p, .guest_served p{
    font-size: 1.6rem;
    color: #818498;
}

.ot_left_area_txt_1, .ot_left_area_txt_2{
    max-width: 250px;
    margin-bottom: 2rem;
}

.ot_information{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 250px;
}

.experience{
    margin: 1rem 1rem 1rem 0;
}

.year_of_creation{
    margin: 1rem 0 1rem 1rem;
}

.guest_served{
    margin: 1rem;
}

.experience p span, .year_of_creation p span, .guest_served p span{
    font-size: 2rem;
    font-weight: 700;
    color: #333545;
}

.experience p, .year_of_creation p, .guest_served p{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ot_left_arrow svg, .ot_right_arrow svg{
    color: #333545;
    min-height: 25px;
    min-width: 25px;
    margin: 1rem;
}

.ot_right_arrow svg{
    margin-right: 0;
}

.ot_left_arrow svg{
    margin-left: 0;
}

@media all and (min-width: 1024px){
    .our_team{
        padding-bottom: 10rem;
    }
    
    .employee_img{
        display: block;
    }

    .ot_main_content{
        justify-content: space-between;
    }

    .ot_top_section h2{
        font-size: 3.4rem;
        max-width: 600px;
    }

    .ot_name{
        font-size: 2.8rem;
        text-align: left;
    }

    .profession{
        font-size: 1rem;
        font-weight: 700;
        text-align: left;
    }

    .ot_left_area_txt_1, .ot_left_area_txt_2{
        font-size: 1.1rem;
        max-width: 415px;
        text-align: left;
        line-height: 2;
    }

    .experience p, .year_of_creation p, .guest_served p{
        font-size: 1.1rem;
    }

    .experience, .year_of_creation, .guest_served{
        margin: 0;
    }

    .ot_information{
        justify-content: space-between;
        flex-wrap: nowrap;
        max-width: 415px;
    }

    .ot_left_arrow, .ot_right_arrow{
        position: relative;
        height: 56px;
        width: 56px;
        background-color: #45B5C9;
        border-radius: 14px;
        cursor: pointer;
    }

    .ot_left_arrow:hover, .ot_right_arrow:hover, .ot_left_arrow_style, .ot_right_arrow_style{
        background-color: #a9f4ff;
    }

    .ot_left_arrow svg, .ot_right_arrow svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 56px;
        margin: 0 auto;
        color: #fff;
        font-size: 2rem;
    } 
}