.rooms_for_rent{
    background-color: #F7F8FB;
    padding: 5vw 2rem 17rem 2rem;
    outline: none;
    border: none;
    color: #818498;
}

.search_engine{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    padding: 2.4rem 0;
}

.se_title{
    width: 100%;
}

.se_title p{
    font-size: 1.8rem;
    color: #333545;
    font-weight: 500;
    padding: 0 3.2rem 2.4rem 3.2rem;
}

.se_search_btn_desktop{
    display: none;
}

.se_search_btn_mobile{
    background-color: #45B5C9;
}

.se_form{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.rooms_for_rent, .se_persons,  .se_rooms{
    border-radius: 16px;
    border: 1px solid #E1E8F2;
    flex-grow: 1;
}

.se_persons, .se_rooms {
    font-size: 1.6rem;
    padding: 2rem;
    border: 1px solid #E1E8F2;
    border-radius: 16px;
    outline: none;
    color: #818498;
    margin-top: 1.6rem;
}

.se_search_btn_mobile{
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #45B5C9;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
    margin-top: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}

.se_search_btn_mobile:hover{
    background-color: #DDF2F5;
}

@media all and (min-width: 1024px){
    .se_search_btn_mobile{
        display: none;
    }

    .search_engine{
        filter: drop-shadow(4px -12px 64px rgba(14, 41, 72, 0.04));
    }

    .se_search_btn_desktop{
        display: block;
        min-width: 72px;
        min-height: 72px;
        border-radius: 16px;
        background-color: #45B5C9;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .2s;
        margin-left: 1rem;
    }

    .se_search_btn_desktop:hover{
        background-color: #a9f4ff;
    }

    .se_form{
        flex-direction: row;
        width: 100%;
        padding: 0 3.2rem;
    }

    .se_search_btn_mobile{
        font-size: 1.3rem;
    }

    .se_persons, .se_rooms {
        font-size: 1rem;
        margin: 0 0 0 1rem;
        padding: 0 0 0 2rem;
        flex-grow: 1;
    }

    .rooms_for_rent{
        padding: 0 2rem;
        flex-grow: 1;
        padding: 3rem 0 120px 0;
    }

    .se_title p{
        font-size: 1.3rem;
    }
}

/* FILTER AREA */
.highest_price, .top_rated, .lowest_price{
    display: none;
}

.highest_price_active, .top_rated_active, .lowest_price_active{
    display: block;
    border: 1px solid #E1E8F2;
    border-radius: 12px;
    cursor: pointer;
    margin: 1.5rem 1rem;
    transition: .3s;
}

.highest_price_active:active, .top_rated_active:active, .lowest_price_active:active{
    background-color: #E7F4F7;
    border: 1px solid #45B5C9;
}

.highest_price_active p, .top_rated_active p, .lowest_price_active p{
    font-size: 1.6rem;
    color: #333545;
    font-weight: 500;
    padding: 1.4rem;
}

.filter_area{
    text-align: center;
}

.text_and_sort_by{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 90vw;
    margin: 2rem auto 0 auto;
    border-radius: 16px;
    padding: 2rem;
}

.text_and_sort_by p{
    color: #333545;
    font-weight: 500;
    max-width: 120px;
}

.properties_found{
    font-size: 1.8rem;
}

.sort_by, .sort_by_active{
    display: flex;
    align-items: center;
    border: 1px solid #E1E8F2;
    border-radius: 16px;
    padding: 1.6rem;
    transition: .2s;
}

.sort_by p, .sort_by_active p{
    font-size: 1.6rem;
}

.sort_by_arrow, .sort_by_arrow_active{
    font-size: 1.6rem;
    margin-left: 1rem;
}

.sort_by_arrow_active{
    transform: rotate(180deg);
    transition: .2s;
}

.sort_by_active{
    background-color: #E7F4F7;
    border: 1px solid #45B5C9;
}


@media all and (max-width: 340px){
    .text_and_sort_by{
        padding: 1.5rem;
    }
}

@media all and (min-width: 1024px){
    .sort_by, .sort_by_arrow, .sort_by_active{
        display: none;
    }

    .highest_price, .top_rated, .lowest_price{
        display: block;
    }

    .text_and_sort_by{
        display: block;
        width: auto;
        margin: 0 auto 0 0;
        background-color: transparent;
    }

    .text_and_sort_by p{
        font-size: 1.3rem;
        max-width: none;
    }

    .filter_area{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 90vw;
        max-width: 1440px;
        margin: 2.5rem auto 0 auto;
        background-color: #fff;
        border-radius: 16px;
    }

    .highest_price, .top_rated, .lowest_price{
        border: 1px solid #E1E8F2;
        border-radius: 12px;
        cursor: pointer;
        margin: 1.5rem 1rem;
        transition: .3s;
    }

    .lowest_price{
        margin-right: 2rem;
    }

    .highest_price:hover, .top_rated:hover, .lowest_price:hover{
        background-color: #E7F4F7;
        border: 1px solid #45B5C9;
    }

    .highest_price p, .top_rated p, .lowest_price p{
        color: #333545;
        font-weight: 500;
        padding: 1rem;
    }
}

/* CHANGE PAGE WITH ROOMS */

.change_page{
    display: flex;
    justify-content: center;
    width: 90vw;
    max-width: 1440px;
    margin: 2rem auto;
}

.left_arrow, .right_arrow, .page_number, .active_page{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #22264C;
    font-size: 1.3rem;
    min-height: 56px;
    min-width: 56px;
    border-radius: 14px;
    background: #fff;
    transition: .3s;
    cursor: pointer;
}

.left_arrow svg, .right_arrow svg{
    font-size: 1.3rem;
}

.page_number, .active_page{
    margin-left: .5rem;
}

.left_arrow{
    margin-right: .5rem;
}

.right_arrow{
    margin-left: 1rem;
}

.left_arrow:active, .right_arrow:active, .page_number:active, .active_page{
    background-color: #E7F4F7;
    border: 1px solid #45B5C9;
}

.showing_pages{
    display: none;
}

@media all and (min-width: 1024px){
    .showing_pages{
        display: flex;
        justify-content: flex-end;
        align-self: center;
        width: 100%;
    }

    .left_arrow:hover, .right_arrow:hover, .page_number:hover, .active_page{
        background-color: #E7F4F7;
        border: 1px solid #45B5C9;
    }
}