.rooms_for_rent{
    /* background-color: #F7F8FB; */
    background-color: #F7F8FB;
    padding: 5vw 0 150px 0;
}

.search_engine{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    padding: 2.4rem 0;
}

.se_title{
    width: 100%;
}

.se_title p{
    font-size: 1.8rem;
    color: #333545;
    font-weight: 500;
    padding: 0 3.2rem 2.4rem 3.2rem;
}

.se_search_btn_desktop{
    display: none;
}

.se_search_btn_mobile{
    background-color: #45B5C9;
}

.se_form{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.rooms_for_rent, .se_persons,  .se_rooms{
    border-radius: 16px;
    border: 1px solid #E1E8F2;
    flex-grow: 1;
}

.se_persons, .se_rooms {
    font-size: 1.6rem;
    padding: 2rem;
    border: 1px solid #E1E8F2;
    border-radius: 16px;
    outline: none;
    color: #818498;
    margin-top: 1.6rem;
}

.rooms_for_rent{
    padding: 2rem;
    outline: none;
    border: none;
    color: #818498;
}

.se_search_btn_mobile{
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #45B5C9;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
    margin-top: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}

.se_search_btn_mobile:hover{
    background-color: #DDF2F5;
}

@media all and (min-width: 1024px){
    .se_search_btn_mobile{
        display: none;
    }

    .search_engine{
        filter: drop-shadow(4px -12px 64px rgba(14, 41, 72, 0.04));
    }

    .se_search_btn_desktop{
        display: block;
        min-width: 72px;
        min-height: 72px;
        border-radius: 16px;
        background-color: #45B5C9;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .2s;
        margin-left: 1rem;
    }

    .se_search_btn_desktop:hover{
        background-color: #DDF2F5;
    }

    .se_form{
        flex-direction: row;
        width: 100%;
        padding: 0 3.2rem;
    }

    .se_search_btn_mobile{
        font-size: 1.3rem;
    }

    .se_persons, .se_rooms {
        font-size: 1rem;
        margin: 0 0 0 1rem;
        padding: 0 0 0 2rem;
        flex-grow: 1;
    }

    .rooms_for_rent{
        padding: 0 2rem;
        flex-grow: 1;
        padding: 3rem 0 120px 0;
    }

    .se_title p{
        font-size: 1.3rem;
    }
}

/* FILTER AREA */
.popular, .top_rated, .sort_by_desktop{
    display: none;
}

.filter_area{
    text-align: center;
}

.text_and_sort_by{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 90vw;
    margin: 2rem auto 0 auto;
    border-radius: 16px;
    padding: 2rem;
}

.text_and_sort_by p{
    color: #333545;
    font-weight: 500;
}

.text_and_sort_by p{
    font-size: 1.8rem;
}

.sort_by{
    padding: 1.6rem;
    border: 1px solid #E1E8F2;
    border-radius: 16px;
}

.sort_by p{
    font-size: 1.6rem;
}


.categories{
    background-color: #fff;
    width: 90vw;
    margin: 2rem auto 0 auto;
    border-radius: 16px;
    padding: 3.2rem;
    text-align: left;
}

.categories p{
    font-size: 1.6rem;
    color: #333545;
    font-weight: 500;
}

@media all and (max-width: 340px){
    .sort_by{
        padding: 1rem;
    }

    .text_and_sort_by{
        padding: 1.5rem;
    }
}

@media all and (min-width: 1024px){
    .sort_by, .categories{
        display: none;
    }

    .popular, .top_rated, .sort_by_desktop{
        display: block;
    }

    .text_and_sort_by{
        display: block;
        width: auto;
        margin: 0 auto 0 0;
        background-color: transparent;
    }

    .text_and_sort_by p{
        font-size: 1.3rem;
    }

    .filter_area{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 90vw;
        max-width: 1440px;
        margin: 2.5rem auto 0 auto;
        background-color: #fff;
        border-radius: 16px;
    }

    .popular, .top_rated, .sort_by_desktop{
        border: 1px solid #E1E8F2;
        border-radius: 12px;
        cursor: pointer;
        margin: 1.5rem 1rem;
        transition: .3s;
    }

    .sort_by_desktop{
        margin-right: 2rem;
    }

    .popular:hover, .top_rated:hover, .sort_by_desktop:hover{
        background-color: #E7F4F7;
        border: 1px solid #45B5C9;
    }

    .popular p, .top_rated p, .sort_by_desktop p{
        color: #333545;
        font-weight: 500;
        padding: 1rem;
    }
}

/* CHANGE PAGE WITH ROOMS */

.change_page{
    display: flex;
    width: 90vw;
    max-width: 1440px;
    margin: 2rem auto;
}

.left_arrow, .right_arrow, .page_number{
    position: relative;
    height: 56px;
    width: 56px;
    border-radius: 14px;
    background: #fff;
    transition: .3s;
}

.left_arrow{
    margin-right: .5rem;
}

.right_arrow{
    margin-left: .5rem;
}

.left_arrow:hover, .right_arrow:hover, .page_number:hover{
    background-color: #E7F4F7;
    border: 1px solid #45B5C9;
}

.left_arrow svg, .right_arrow svg, .page_number p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.page_number{
    margin: 0 .5rem;
    cursor: pointer;
}

.page_number p{
    font-size: 1.5rem;
}

